<mat-card class="centered-card" [class.mat-elevation-z8]="true" *ngIf="!enterTotp">
  <!-- Title area -->
  <mat-card-title class="centered-card-title">Login</mat-card-title>
  <mat-divider></mat-divider>

  <!-- Content area -->
  <mat-card-content class="centered-card-content">
    <form class="login-form">

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher" (keyup.enter)="login()"/>
        <mat-error *ngIf="usernameFormControl.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher" (keydown.enter)="login()"/>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-divider></mat-divider>

  <!-- Actions area -->
  <mat-card-actions align="end">
    <button mat-stroked-button
            color="primary"
            [disabled]="!usernameFormControl.valid || !passwordFormControl.valid || loading"
            (click)="login()">
      Login
    </button>
  </mat-card-actions>
</mat-card>


<!--TWO FACTORS CARD-->
<mat-card class="centered-card" [class.mat-elevation-z8]="true" *ngIf="enterTotp">
  <!-- Title area -->
  <mat-card-title class="centered-card-title">Two factors authentication</mat-card-title>
  <mat-card-subtitle>Enter your PIN</mat-card-subtitle>
  <mat-divider></mat-divider>

  <!-- Content area -->
  <mat-card-content class="centered-card-content">
    <form class="login-form">

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Two factors PIN</mat-label>
        <input matInput [formControl]="totpFormControl" [errorStateMatcher]="matcher" (keydown.enter)="login()"/>
        <mat-error *ngIf="totpFormControl.hasError('required')">
          Your PIN is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </form>
  </mat-card-content>

  <!-- Actions area -->
  <mat-card-actions align="end">
    <button mat-stroked-button
            color="primary"
            [disabled]="!totpFormControl.valid || loading"
            (click)="login()">
      Login
    </button>
  </mat-card-actions>
</mat-card>
